@for $i from 1 through 7 {
  .col-lg-2 .animate-slide-in-right:nth-child(#{$i}) {
    -o-animation: animate-slide-in-right 0.6s ease-in-out;
    -moz-animation: animate-slide-in-right 0.6s ease-in-out;
    -webkit-animation: animate-slide-in-right 0.6s ease-in-out;
    animation: animate-slide-in-right 0.6s ease-in-out;
    animation-delay: ($i * 0.1s) + 0.2s;
  }
}

@keyframes animate-slide-in-right {
  from {
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes animate-slide-in-right {
  from {
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}
