@import "./mixins";
@import "./utilities";
@import "./responsive";
header {
  @include flexCenter(row, space-between);

  height: 5rem;
  background-color: $secondary;
  color: $white;
  text-transform: uppercase;
  font-weight: weights(medium);
  padding: 0 4rem;
  font-size: 1.5rem;

  .header {
    color: $white;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 2px;
      background-color: $tertiary;
      margin: 0 1rem;
    }
    span {
      color: $tertiary;
    }
  }
}
