@import "./mixins";

@media screen and (max-width: 38rem) {
  header {
    @include flexCenter(row, space-between);

    .header {
      padding: 0 1rem !important;
      font-size: 1rem !important;

      &:after {
        all: unset !important;
      }
    }
  }

  #main-body.col-md {
    #filter-container {
      display: flex;
      flex-direction: column !important;
    }
  }

  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

@media screen and (max-width: 48rem) {
  #homepage {
    &.nav__open {
      .col-md-2 {
        display: block;
      }
    }

    .col-md-2 {
      min-height: 50vh !important;
      display: none;
    }
  }

  header {
    .menu-btn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 40px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }

    .menu-btn__burger {
      width: 100%;
      height: 4px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
      transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
    }
    .menu-btn__burger::before,
    .menu-btn__burger::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
      -o-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
    .menu-btn__burger::before {
      -ms-transform: translateY(-12px);
      -o-transform: translateY(-12px);
      -moz-transform: translateY(-12px);
      -webkit-transform: translateY(-12px);
      transform: translateY(-12px);
    }
    .menu-btn__burger::after {
      -ms-transform: translateY(12px);
      -o-transform: translateY(12px);
      -moz-transform: translateY(12px);
      -webkit-transform: translateY(12px);
      transform: translateY(12px);
    }
    /* ANIMATION */
    .menu-btn.open .menu-btn__burger {
      -ms-transform: translateX(-50px);
      -o-transform: translateX(-50px);
      -moz-transform: translateX(-50px);
      -webkit-transform: translateX(-50px);
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
    }
    .menu-btn.open .menu-btn__burger::before {
      -ms-transform: rotate(45deg) translate(35px, -35px);
      -o-transform: rotate(45deg) translate(35px, -35px);
      -moz-transform: rotate(45deg) translate(35px, -35px);
      -webkit-transform: rotate(45deg) translate(35px, -35px);
      transform: rotate(45deg) translate(35px, -35px);
    }
    .menu-btn.open .menu-btn__burger::after {
      -ms-transform: rotate(-45deg) translate(35px, 35px);
      -o-transform: rotate(-45deg) translate(35px, 35px);
      -moz-transform: rotate(-45deg) translate(35px, 35px);
      -webkit-transform: rotate(-45deg) translate(35px, 35px);
      transform: rotate(-45deg) translate(35px, 35px);
    }
  }
}
