@media screen and (max-width: 38rem) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .header {
    padding: 0 1rem !important;
    font-size: 1rem !important;
  }
  header .header:after {
    all: unset !important;
  }
  #main-body.col-md #filter-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }
  table td::before {
    /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}

@media screen and (max-width: 48rem) {
  #homepage.nav__open .col-md-2 {
    display: block;
  }
  #homepage .col-md-2 {
    min-height: 50vh !important;
    display: none;
  }
  header {
    /* ANIMATION */
  }
  header .menu-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 40px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  header .menu-btn__burger {
    width: 100%;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
            box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }
  header .menu-btn__burger::before,
  header .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
            box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  header .menu-btn__burger::before {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
  header .menu-btn__burger::after {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
  header .menu-btn.open .menu-btn__burger {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header .menu-btn.open .menu-btn__burger::before {
    -webkit-transform: rotate(45deg) translate(35px, -35px);
    transform: rotate(45deg) translate(35px, -35px);
  }
  header .menu-btn.open .menu-btn__burger::after {
    -webkit-transform: rotate(-45deg) translate(35px, 35px);
    transform: rotate(-45deg) translate(35px, 35px);
  }
}

@media screen and (max-width: 38rem) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .header {
    padding: 0 1rem !important;
    font-size: 1rem !important;
  }
  header .header:after {
    all: unset !important;
  }
  #main-body.col-md #filter-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }
  table td::before {
    /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}

@media screen and (max-width: 48rem) {
  #homepage.nav__open .col-md-2 {
    display: block;
  }
  #homepage .col-md-2 {
    min-height: 50vh !important;
    display: none;
  }
  header {
    /* ANIMATION */
  }
  header .menu-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 40px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  header .menu-btn__burger {
    width: 100%;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
            box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }
  header .menu-btn__burger::before,
  header .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
            box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  header .menu-btn__burger::before {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
  header .menu-btn__burger::after {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
  header .menu-btn.open .menu-btn__burger {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header .menu-btn.open .menu-btn__burger::before {
    -webkit-transform: rotate(45deg) translate(35px, -35px);
    transform: rotate(45deg) translate(35px, -35px);
  }
  header .menu-btn.open .menu-btn__burger::after {
    -webkit-transform: rotate(-45deg) translate(35px, 35px);
    transform: rotate(-45deg) translate(35px, 35px);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 5rem;
  background-color: #1a213f;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 4rem;
  font-size: 1.5rem;
}

header .header {
  color: #fff;
  position: relative;
}

header .header:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: aqua;
  margin: 0 1rem;
}

header .header span {
  color: aqua;
}

.col-lg-2 .animate-slide-in-right:nth-child(1) {
  -webkit-animation: animate-slide-in-right 0.6s ease-in-out;
  animation: animate-slide-in-right 0.6s ease-in-out;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.col-lg-2 .animate-slide-in-right:nth-child(2) {
  -webkit-animation: animate-slide-in-right 0.6s ease-in-out;
  animation: animate-slide-in-right 0.6s ease-in-out;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.col-lg-2 .animate-slide-in-right:nth-child(3) {
  -webkit-animation: animate-slide-in-right 0.6s ease-in-out;
  animation: animate-slide-in-right 0.6s ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.col-lg-2 .animate-slide-in-right:nth-child(4) {
  -webkit-animation: animate-slide-in-right 0.6s ease-in-out;
  animation: animate-slide-in-right 0.6s ease-in-out;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.col-lg-2 .animate-slide-in-right:nth-child(5) {
  -webkit-animation: animate-slide-in-right 0.6s ease-in-out;
  animation: animate-slide-in-right 0.6s ease-in-out;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.col-lg-2 .animate-slide-in-right:nth-child(6) {
  -webkit-animation: animate-slide-in-right 0.6s ease-in-out;
  animation: animate-slide-in-right 0.6s ease-in-out;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.col-lg-2 .animate-slide-in-right:nth-child(7) {
  -webkit-animation: animate-slide-in-right 0.6s ease-in-out;
  animation: animate-slide-in-right 0.6s ease-in-out;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@keyframes animate-slide-in-right {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes animate-slide-in-right {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

#homepage {
  width: 100%;
}

#homepage .col-md-2 {
  min-height: 90vh;
  min-width: 17rem;
}

#homepage #main-body.col-md #refresh-todos {
  background-color: #f8f8f8;
  color: #1a213f;
  width: 3rem;
}

#homepage #main-body.col-md #filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#homepage #main-body.col-md #filter-container .form-field {
  height: 2.3rem;
  outline: none;
  border: 1px solid #ddd;
  background-color: #fff;
}

#homepage .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}

#homepage .categories .category {
  height: 4rem;
  color: #1a213f;
  margin: 0.5rem 0;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

#homepage .categories .category.selected_category, #homepage .categories .category:hover {
  background-color: #1a213f;
  color: aqua;
  border-left: 4px solid aqua;
}

#homepage table {
  border: 1px solid #f8f8f8;
  border-collapse: collapse;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

#homepage table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

#homepage table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

#homepage table th,
#homepage table td {
  padding: 1rem;
  text-align: center;
}

#homepage table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#homepage .pagination-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1.5rem 0;
}

#homepage .pagination-items .pagination-item.active .pagination-btn {
  background-color: #1a213f;
  color: aqua;
}

#homepage .pagination-items .pagination-btn {
  width: 2.8rem;
  height: 2.8rem;
  background-color: #f8f8f8;
  border: none;
}
/*# sourceMappingURL=homepage.css.map */