@import "./config";
@import "./responsive";
@import "./header";
@import "./animations";

#homepage {
  width: 100%;

  .col-md-2 {
    min-height: 90vh;
    min-width: 17rem;
  }

  #main-body.col-md {
    #refresh-todos {
      background-color: $primary;
      color: $secondary;
      width: 3rem;
    }

    #filter-container {
      @include flexCenter(row, space-between);

      .form-field {
        height: 2.3rem;
        outline: none;
        border: 1px solid #ddd;
        background-color: $white;
      }
    }
  }

  .categories {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;

    .category {
      height: 4rem;
      color: $secondary;
      margin: 0.5rem 0;
      border: none;
      @include flexCenter(row, flex-start);
      background-color: transparent;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: weights(medium);

      &.selected_category,
      &:hover {
        background-color: $secondary;
        color: $tertiary;
        border-left: 4px solid $tertiary;
      }
    }
  }

  table {
    border: 1px solid $primary;
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    table-layout: fixed;

    caption {
      font-size: 1.5em;
      margin: 0.5em 0 0.75em;
    }

    tr {
      background-color: $primary;
      border: 1px solid #ddd;
    }

    th,
    td {
      padding: 1rem;
      text-align: center;
    }

    th {
      font-size: 0.85em;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }

  .pagination-items {
    @include flexCenter(row, flex-end);
    margin: 1.5rem 0;

    .pagination-item.active .pagination-btn {
      background-color: $secondary;
      color: $tertiary;
    }

    .pagination-btn {
      width: 2.8rem;
      height: 2.8rem;
      background-color: $primary;
      border: none;
    }
  }
}
