@import "config";
@import "mixins";
@import "utilities";

#loading-page {
  background-color: $white;
  opacity: 0.9;
  font-weight: weights(medium);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  @include flexCenter(row, center);
}
